body{}
.nav_bars {background-color: black;
width: 100%;
height: 60px;
}
.nav_bars2{background-color: black;
width: 100%;
height: 80px}
.nav_bars a{
color: darkblue;
border-color: black;
text-decoration:none;
float: left;
width: 22%;
padding: 20px;
text-align: center;
border-left: ridge 5px lightgray;
font-family: sans-serif;
font-weight: bold;}
.nav_bars a:hover{
  background-color: lightgray;
  color:orange}
 .intro{
   height: 100px;
   width: 1000px;
 }
  .intropara{
    background-color: gray;
    height: 250px;
    width: 510px
  }
   h1 {padding-left: 100px;
    padding-top: 25px;
    font-family: fantasy;
    color: darkblue}
  .intropara p {padding-left:30px}
  .me{border-radius: 100px;
    border: ridge 5px yellow;
    animation: spin 3s;}

  @keyframes spin {
      0%{transform: rotate(0deg);}
      100%{transform: rotate(360deg);}}


  .myname{ animation: zoom 10s;
  color: darkblue}
@keyframes zoom{
  0%{transform: scale(0); top: 100px; left:100px}
  50%{transform: scale(1); top:600px; left: 600px}
  100%{transform: scale(0.3);}}}

  .card2{
  margin:20px;
  box-sizing: border-box;
  border: solid lightgreen 2px}

 .col-sm-2:hover{
   box-shadow: 2px 2px 10px lightgreen
 }
.uuu {width: 70%}
 .uuu:hover{color: ;}





                                          .flex-container{
                                            display: flex;
                                            flex-wrap: wrap;
                                            background-color: rgba(100, 100, 100, 0.5)}
                                          .flex-container div {
                                            width: 100%;
                                            margin: 10px;
                                            text-align: center;
                                            line-height: 30px;
                                            font-size: 20px;
                                            color: darkblue;
                                            text-align: center;}

                                          .flex-container2{
                                            display: flex;
                                            flex-wrap: wrap;
                                            background-color: rgba(100, 100, 100, 0.5)}
                                          .flex-container2 div {
                                            width: 10%;
                                            margin: 10px;
                                            text-align: center;
                                            line-height: 75px;
                                            font-size: 30px}

                                        .copyright{text-align: center;color: Darkblue;}
